@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/*nav bar design */
nav {
  background: #ededed;
  position: fixed;
  z-index: 100;
  color: #000;
  height: 80px;
  width: 100%;
}

label.logo {
  line-height: 80px;
  padding: 0px 30px;
}

.header-logo {
  margin-top: 18px;
  width: 180px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #000;
  font-size: 17px;
}

a.active,
a:hover {
  color: #da0037;
  transition: 0.5s;
}

.check-btn {
  font-size: 30px;
  color: #000;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media screen and (max-width: 858px) {
  .check-btn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #f9f9f9;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    color: #161616;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

@media screen and (max-width: 320px) {
  .header-logo {
    margin-top: 22px;
    width: 50px;
  }
}

/*about-content*/
.about-wrapper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.about-left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 95vh;
}

.about-left div {
  padding-left: 25%;
  padding-right: 10%;
}

.about-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.about-img {
  height: calc(70vh - 70px);
  margin-top: 15%;
}

@media screen and (max-width: 1024px) {
  .about-wrapper {
    flex-direction: column;
    height: 80vh;
  }
  .about-left {
    text-align: center;
    margin-top: 20%;
  }
  .about-left div {
    padding-left: 50px;
    padding-right: 50px;
  }
  .about-right {  
    margin-bottom: 8%;
  }
  .about-img {
    height: calc(30vh - 30px);
  }
  .about-left h2 {
    font-size: 2.5rem;
  }
  .about-left p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .about-wrapper {
    flex-direction: column;
    height: 80vh;
  }
  .about-left {
    text-align: center;
    margin-top: 20%;
  }
  .about-left div {
    padding-left: 20px;
    padding-right: 20px;
  }
  .about-right { 
    margin-bottom: 10%;
  }
  .about-img {
    height: calc(30vh - 30px);
  }
  .about-left h2 {
    font-size: 2rem;
  }
  .about-left p {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 600px) { 
  .about-wrapper {
    flex-direction: column;
    height: 80vh;
  }
  .about-left { 
    margin-top: 3rem;
  } 
  .about-left h2 {
    font-size: 1.5rem;
  }
  .about-left p {
    font-size: 1rem;   
  }
  .about-right {
    display: none;   
  }
}

/*footer*/
.wrapper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #ededed;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-logo {
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.social-icons {
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: right;
}

.caption {
  text-align: right;
}

.group {
  font-weight: 700;
}

@media screen and (min-width: 1000px) and (max-width: 1024px) {
  .left {
    height: 20vh;
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
    height: 50vh;
  }

  .left {
    text-align: center;
  }

  .footer-logo {
    width: 200px;
    margin-right: auto;
  }

  .social-icons {
    cursor: pointer;
    text-align: center;
  }

  .caption {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 35vh;
  }

  .footer-logo {
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    height: 45vh;
  }

  .left {
    text-align: center;
  }

  .footer-logo {
    width: 45%;
  }
}
