.fooditems-banner {
  height: calc(10vh - 15px);
}

/*form-section*/
.fooditems-form {
  margin: 5% 20% 3% 20%;
}

.fooditems-container {
  padding: 16px;
  background-color: white;
}

.fooditems-form .fooditems-container input[type="text"], input[type="file"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.fooditems-form .fooditems-container input[type="text"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.fooditembtn {
  background-color: #da0037;
  color: white;
  padding: 8px 18px 8px 18px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
}

@media screen and (max-width: 1024px) {
  .fooditems-form {
    height: 65vh;
  }
}

@media screen and (max-width: 600px) {
  .fooditems-form {
    margin: 10% 10% 40% 10%;
  }
}
