/*cover design */
.home-banner {
  background: url(../assets/landing.jpg) no-repeat;
  background-size: cover;
  height: 450px;
  width: 100%;
  padding: 5rem calc((100vw - 1300px) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*intro*/
.intro-wrapper {
  display: flex;
  flex-direction: row;
  margin: 5% 20% 5% 20%;
}

.intro div h1 {
  font-size: 3rem;
  margin-bottom: 5%;
}

.intro div p {
  font-size: 1.2rem;
}

.intro-img {
  width: 100%;
}

/*food intro*/
.food-intro-h {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

/*popular foodies*/
.popular-foodies {
  margin: 5% 20% 5% 20%;
}

.popular-foodie {
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
  /* padding: 5rem calc((100vw - 1300px) / 2); */
}

.info-panel{
  padding-right: 5%;
}

.menu-btn{
  background-color: #da0037;
  color: white;
  padding: 8px 18px 8px 18px;
  border: none;
  cursor: pointer;
  border-radius: 25px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: block;
  margin-top: 12px;    
}

.resize-img {  
  width: 400px;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .intro-wrapper {
    flex-direction: column;
    text-align: center;
    margin: 5% 10% 5% 10%;
  }

  .intro-img {
    width: 60%;
  }

  .food-intro-h {
    font-size: 25px;
    margin-top: 10%;
    margin-bottom: 2%;
  }

  .popular-foodies {
    margin: 5% 10% 5% 10%;
  }

  .popular-foodie {
    flex-direction: column;
    text-align: center;
    margin-bottom: 5%;
  }

  .info-panel{
    padding-right: 0;
  }

  .menu-btn{  
    margin-left: auto;
    margin-right: auto;
  }

  .resize-img {    
    width: 250px;
    margin-top: 5%;
    margin-bottom: 5%;
   
  }
}
