@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/*nav bar design */
nav {
  background: #ededed;
  position: fixed;
  z-index: 100;
  color: #000;
  height: 80px;
  width: 100%;
}

label.logo {
  line-height: 80px;
  padding: 0px 30px;
}

.header-logo {
  margin-top: 18px;
  width: 180px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a {
  color: #000;
  font-size: 17px;
}

a.active,
a:hover {
  color: #da0037;
  transition: 0.5s;
}

.check-btn {
  font-size: 30px;
  color: #000;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media screen and (max-width: 858px) {
  .check-btn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #f9f9f9;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    color: #161616;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

@media screen and (max-width: 320px) {
  .header-logo {
    margin-top: 22px;
    width: 50px;
  }
}

/*cover design */
.cover {
    background: url(/assets/landing.jpg) no-repeat;
    background-size: cover;
    height: 450px;
    width: 100%;
    padding: 5rem calc((100vw - 1300px) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*intro*/
.intro-wrapper{
  display: flex;
  padding-top: 8rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.intro {
  padding-left: 0;
}

.intro-img{
  height: 100%;
  width: 100%;

}

/*food intro*/
.food-intro-h{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

/*popular foodies*/

.popular-foodies{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.popular-foodie{
  display: flex;
  flex-direction: row;
  padding: 5rem calc((100vw - 1300px) / 2);
}

.popular-foodie2{
  display: flex;
  flex-direction: row-reverse;
  padding: 5rem calc((100vw - 1300px) / 2);
}

.pfood-txt2{
  text-align: right;
}

.resize{
  height: 500px;
  width: 500px;
  object-fit: cover;
}


/*footer*/
.wrapper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: #ededed;
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 40vh;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-logo {
  width: 180px;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.social-icons {
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: right;
}

.caption {
  text-align: right;
}

.group {
  font-weight: 700;
}

@media screen and (min-width: 1000px) and (max-width: 1024px) {
  .left {
    height: 20vh;
  }
}

@media screen and (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
    height: 50vh;
  }

  .left {
    text-align: center;
  }

  .footer-logo {
    width: 200px;
    margin-right: auto;
  }

  .social-icons {
    cursor: pointer;
    text-align: center;
  }

  .caption {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 35vh;
  }

  .footer-logo {
    width: 30%;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    height: 45vh;
  }

  .left {
    text-align: center;
  }

  .footer-logo {
    width: 45%;
  }
}
