/*menu page banner design */
.menu_banner {
  background: url(../assets/menu-banner.jpg) no-repeat;
  background-size: cover;
  height: calc(80vh - 80px);
}

@media screen and (max-width: 1024px) {
  .menu_banner {
    height: calc(45vh - 45px);
  }
}

/*search option*/
.search_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.search_input {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: 1px solid #000;
  border-radius: 5px;
  width: 350px;
}

.search_button {
  background-color: #da0037;
  color: white;
  padding: 8px 18px 8px 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}


/*menu container*/
.menu_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
}

.menu-wrapper{
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-between;
}

.menu {
  background-color: #fff;
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 250px;
  text-align: center;
}

.menu h4 {
  margin-top: 10px;  
  font-weight: 600;
}

.menu .menu-img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}

.menu p{
  color: #da0037;
}

.order_button {
  background-color: #da0037;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  width: 100%;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}


