.profile-banner {
  height: calc(30vh - 50px);
}

/*form-section*/
.profile{
  margin: 5% 20% 3% 20%; 
  height: 40vh;
 
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card_container {
  padding: 10px 16px;
  text-align: center;
}

.profile_link{
  text-decoration: none;
  color: #ffff;
}

.profile_link:hover{ 
  color: #ffff;
}


@media screen and (max-width: 1024px) {
  .profile{
    height: 45vh;
  }
}

@media screen and (max-width: 600px) {
  .profile{
    margin: 5% 10% 5% 10%;
  }
}


