.register-banner {
  height: calc(30vh - 30px);
}

.register-form {
  border: 1px solid #000;
  border-radius: 25px;
  padding: 20px;
  margin: 2% 35% 10% 35%;
}

/*contact from*/
.register-form input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: none;
  background: #f1f1f1;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin-top: 6px;
  margin-bottom: 5px;
  resize: vertical;
}

.register-form button {
  background-color: #da0037;
  color: white;
  padding: 8px 18px 8px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 25px;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
}

.register-form button:hover {
  background-color: #da0037;
}

.register {
  color: #da0037;
}

@media screen and (max-width: 1024px) {
  .register-banner {
    height: calc(25vh - 30px);
  }
  .register-form {
    margin: 5% 25% 35% 25%;
  }
}

@media screen and (max-width: 600px) {
  .register-form {
    margin: 5% 10% 45% 10%;
  }
}
